<section class="container-fluid container-launch-bt dev kit pt-5">
  <div class="row mb-3">
    <div class="col col-md-8 mx-md-auto text-center">
      <h1>Developer-friendly</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6 mx-md-auto text-center">
      <p>
        Quickly integrate our robust APIs into your application. Follow our documentation, guides, and SDKs to make building any blockchain experience simple and easy.
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>login" class="btn btn-primary" title="Log in to OST Platform">Login to OST Platform</a>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 p-0">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-developer-friendly-image-v1.png"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-developer-friendly-image-v1.png"
           srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
           alt="OST - Developer Friendly"/>
    </div>
  </div>
</section>