<section class="container-jumbotron py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5">
        <h2>The Complete Blockchain Toolkit for Business</h2>
        <p class="mt-3">
          OST Platform gives you all the tools you need to run your blockchain-powered economy on scalable OpenST sidechains, without requiring in-house blockchain developers and Alpha is open now!
        </p>
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>sign-up" class="btn btn-primary my-2" title="Get OST Platform">Get OST Platform</a>
      </div>
      <div class="col-8 col-md-6 col-lg-4 mx-auto mt-5 mt-md-0">
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-start-minting@2x.png" class="img-fluid" alt="OST - Complete Blockchain Toolkit"/>
      </div>
    </div>
  </div>
</section>