<section class="container-jumbotron py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5">
        <h2>The Complete Blockchain Platform for Growing Brand Loyalty</h2>
        <p class="mt-3">
          OST Plaform provides everything you need to test and deploy your brand currency. Our APIs, SDKs, wallets and dashboards enable fast and painless integration into any app.
        </p>
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>sign-up" class="btn btn-primary my-2" title="ACCESS OST PLATFORM">Access OST Platform</a>
      </div>
      <div class="col-8 col-md-6 col-lg-4 mx-auto mt-5 mt-md-0">
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-start-minting@2x.png" class="img-fluid" alt="OST - Complete Blockchain Toolkit"/>
      </div>
    </div>
  </div>
</section>