<div class="row">
  <div class="col-sm-12">
    <h3 class="mt-6"><%= header %></h3>
    <ul class="list-group list-group-flush show-last-border">
      <% faqs.each do |faq| %>
        <li class="list-group-item link">
          <a href=" <%= faq[:url]%>" class="link-item item-heading" target="_blank">
            <%= faq[:title]%>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="mb-6"></div>
