<nav class="navbar navbar-expand-md header-height">
  <a class="navbar-brand align-items-center" style="height: 60px" href="/">
    <svg class="icon">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-header-logo"></use>
      </switch>
    </svg>
  </a>
</nav>
