<%
  if @presenter_obj.client_token_symbol
    dropdown_text = @presenter_obj.client_token_symbol
  else
    if @presenter_obj.manager
      dropdown_text = @presenter_obj.manager.email.split('@')[0]
    else
      dropdown_text = 'Settings'
    end
  end
%>

<nav class="navbar navbar-expand-md navbar-light h-100">
  <a href="/<%= go_back_env_url_prefix %>/" class="navbar-brand font-weight-normal">
    <svg class="icon">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-header-logo"></use>
      </switch>
    </svg>
  </a>
  <div class="collapse navbar-collapse h-100" id="navbarCollapse">

    <ul class="navbar-nav navbar-right ml-md-auto text-uppercase h-100">
      <li class="nav-item dropdown show">
        <a class="nav-item nav-link dropdown-toggle d-flex align-items-center" href="#" id="user-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=dropdown_text %></a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-user mr-md-2 mt-md-2" aria-labelledby="user-settings">
          <div class="dropdown-arrow"></div>
          <a class="dropdown-item py-2 text-capitalize" href="<%=GlobalConstant::RoutesMap.getRoutes()[:team] %>?<%= get_go_back_url_query_param %>">Team Dashboard</a>
          <a class="dropdown-item py-2 text-capitalize" href="https://help.ost.com/support/home" target="_blank">Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item py-2 text-capitalize" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>