<div class="container">
  <div class="row ost__planner">
    <div class="col-12">
      <h2 class="text-center mt-6">Something went wrong</h2>
    </div>
  </div>
  <div class="row ost__planner">
    <div class="col-12 col-md-8 ml-auto mr-auto">
      <div class="text-center">
        <p class="lead font-weight-light mb-5">
          </p>
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/only-chrome-logo.png" width="210" height="55" alt="Only Chrome "/>
      </div>
    </div>
  </div>

</div>