<div class="shadow-box p-2 row">
  <div class="col-9 py-5 progress-bar-container">
    <div class="tooltip progressBarTooltip">
      <span class="tooltip-text p-1">0%</span>
      <div class="arrow" ></div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           aria-valuenow="0"
           aria-valuemin="0"
           aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-3 pt-2 pb-3 my-auto">
    <p class="text-left font-weight-light font-size-p my-auto progressStep"></p>
  </div>
</div>
