<%
  sandbox_sub_url_prefix = GlobalConstant::Environment.sandbox_sub_url_prefix
  current_env  = GlobalConstant::Environment.url_prefix
%>

<% if current_env == sandbox_sub_url_prefix %>
  <div id="test-net-banner" class="row test-net-banner">
    <div class="col-12 text-center" style="font-size: 0">
      <span class="test-data">Sandbox Data</span>
    </div>
  </div>
  <div style="height: 25px"></div>
<% end %>