<div class="modal fade" id="invite-success-modal" tabindex="-1" role="dialog" aria-labelledby="inviteEconomyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body text-center">
        <h4>Invites Sent Successfully!</h4>
        <button class="btn btn-primary mt-4" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
