<%
  bt_symbol = @presenter_obj.client_token_symbol
  activate_test_economy_api_route =  GlobalConstant::RoutesMap.getApis()[:api_activate_test_economy]
  api_invite_to_test_economy = GlobalConstant::RoutesMap.getApis()[:api_invite_to_test_economy]
  has_setup_test_economy = @presenter_obj.client.has_setup_test_economy?
%>

<div class="test-economy-container">

  <h3 class="text-center mt-5"> Test Your Branded Token Economy </h3>

  <% if has_setup_test_economy %>

    <div class="test-economy-post-setup d-block">
      <div class="row mt-5  mb-6">
        <div class="col-5 shadow-box mx-auto p-4 mb-6">
          <div class="row">
            <div class="col-8 my-auto">
              <p class="mb-0 shadow-box-info-text">Test economy successfully setup</p>
            </div>
            <div class="col-4 text-right">
              <svg class="success-icon align-middle" style="width: 34px; height: 34px">
                <switch>
                  <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
                </switch>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-9 solid-background p-3 mx-auto">
          <div class="row">
            <div class="col-1 my-auto">
              <svg class="get-ost-icon align-middle" style="width: 34px; height: 34px">
                <switch>
                  <use class="get-ost-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#get-ost-icon"></use>
                </switch>
              </svg>
            </div>
            <div class="col-5 pl-0 my-auto">
              <p class="mb-0">Get OST demo App and Scan QR code to join the economy</p>
            </div>
            <div class="col-3 my-auto">
              <a href="" class="btn btn-secondary">download(ios)</a>
            </div>
            <div class="col-3 my-auto">
              <a href="" class="btn btn-secondary">download(Android)</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-9 solid-background p-3 mx-auto">
          <div class="row">
            <div class="col-1 my-auto">
              <svg class="invite-team-icon align-middle" style="width: 34px; height: 34px">
                <switch>
                  <use class="invite-team-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#invite-team-icon"></use>
                </switch>
              </svg>
            </div>
            <div class="col-8 pl-0 my-auto">
              <p class="mb-0">Invite Economy users via Email</p>
            </div>
            <div class="col-3 my-auto">
              <button type="button" data-toggle="modal" data-target="#invite-economy-modal" class="btn btn-secondary">Send OR code</button>

              <!-- invite economy modal -->
              <div class="modal fade" id="invite-economy-modal" tabindex="-1" role="dialog" aria-labelledby="inviteEconomyLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="inviteEconomyLabel">Invite Economy</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="invite-economy-form" action="<%= api_invite_to_test_economy %>" method="POST">
                        <div>
                          <div class="form-group">
                            <label class="form-label float-left" for="emailAddresses">Email Addresses</label>
                            <input type="text" name="email-addresses" class="form-control form-control-input-group" placeholder="Email addresses">
                          </div>
                          <div class="form-group">
                            <button type="submit" id="submit-email-addresses-btn" class="btn btn-primary" data-submiting="Submitting...">Submit</button>
                          </div>
                            <div class="invalid-feedback" data-forid="password">&nbsp;</div>
                            <div class="general_error invalid-feedback"></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- modal ends -->
            </div>
          </div>
        </div>
      </div>
      <div class="qr-code-section">
        <img class="qr-code my-5 col-2 mx-auto" src="">


        <h3 class="text-center">Scan  and  Join <%= bt_symbol %> Test Economy! </h3>
      </div>
    </div>

  <% else %>

    <div class="test-economy-pre-setup ">
      <form id="launch-setup-form" action="<%= activate_test_economy_api_route %>" method="POST">
        <div class="row mt-5">
          <div class="col-7 shadow-box mx-auto p-4">
            <div class="row">
              <div class="col-8 my-auto">
                <p class="mb-0 shadow-box-info-text">Set up your test economy with OST servers</p>
              </div>
              <div class="col-4 my-auto text-right">
                <button type="submit" id="launch-test-economy" data-submiting="Launching setup.." class="btn btn-primary d-inline">
                  Launch  setup
                </button>
              </div>
            </div>
          </div>
          <div class="invalid-feedback" data-forid="password">&nbsp;</div>
          <div class="general_error invalid-feedback"></div>
        </div>
      </form>
    </div>

  <% end %>

</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.test_economy.init();
    });
  </script>
<% end %>
