// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

.planner-container{
  .conversion-rate{
    color: $yellow-300;
    font-weight: bold;
  }
  .header-recommendation{
    display: none;
  }
  .edit-collapse{
    cursor: pointer;
    border-bottom: 2px solid $blue-500;
    font-weight: $font-weight-bold;
    color: $blue-500;
  }

  p{
    font-weight: $font-weight-light;
    font-size: $display3-size;
  }

  input::placeholder {
    text-transform: capitalize;
  }

  .conversion-section{
    .col-4{
      font-size: 24px;
      font-weight: normal;
      color: $cyan;
      .conversion-rate{
        color: $yellow-300;
      }
      &.instruction-text{
        font-weight: $font-weight-light;
        font-size: $display4-size;
        color: $blue-700;
        line-height: 1.8;
      }
    }

    .right-border{
      position: relative;
      border: 0;
      justify-content: center;
      border-radius: 0;
      border-right: 1px solid #dbf2f2;
    }

    .quantity {
      position: relative;
      font-size: 1.125rem;
      //display: inline-block;
      //border-radius: 4px;
      //overflow: hidden;
      //display: flex;
      //align-items: center;
    }

    .conversion-currency{
      font-size: 1.5rem;
    }

    //input[type=number]::-webkit-inner-spin-button,
    //input[type=number]::-webkit-outer-spin-button
    //{
    //  -webkit-appearance: none;
    //  margin: 0;
    //}
    //
    //input[type=number]
    //{
    //  -moz-appearance: textfield;
    //}

    .quantity input {
      width: 110px;
      height: 36px;
      line-height: 36px;
      padding: 0 8px 0 5px;
      color: $yellow-300;
      border-radius: 4px;
      border: 1px solid $blue-200;
    }

    .quantity input:focus {
      outline: 0;
    }

    .quantity-nav {
      height: 36px;
      top: 0;
      position: absolute;
      left: calc(100% - 20px);
    }

    .quantity-button {
      //position: relative;
      cursor: pointer;
      width: 20px;
      //text-align: center;
      //color: $white;
      //font-size: 12px;
      //border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue-200;
      //-webkit-transform: translateX(-100%);
      //transform: translateX(-100%);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      height: 50%;
      position: absolute;
    }

    .quantity-button.quantity-up {
      top: 0;
      border-top-right-radius: 4px;
    }

    .quantity-button.quantity-down {
      bottom: 0;
      border-bottom-right-radius: 4px;
    }

  }
}

.container-box{
  background-color: $grey-bg;
  border-radius: 7.5px;
}

.modal{
  & .modal-content{
    & .modal-body{
      .sub-header{
        color: $blue-700;
        font-weight: $font-weight-light;
      }
    }
  }
}

// Patch to restrict the page squeezing or shrinking while content is blur
.modal-open{
  #app-content{
    position: fixed;
    height: 100vh;
    width: 100%;
    padding-top: 3rem;
    &.wrapper{
      top: 5px;
    }
  }
}

.brand-curreny-bg{
  background: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-deploy-your-brand-curreny.png')!important;
  background-repeat: no-repeat!important;
  background-position: center right!important;
  background-size: contain !important;
}

//.stake-badge{
//  position: absolute;
//  right: 20px;
//  padding: 2px 6px;
//  font-size: 10px;
//  letter-spacing: 0.5px;
//  font-weight: 600;
//  &.red{
//    border: 2px solid #e82053;
//    color: #e82053;
//  }
//  &.green{
//    border: 2px solid #5ebe55;
//    color: #5ebe55;
//  }
//}

.staking-options-or{
  position: absolute;
  left: 50%;
  top: 50%;
  color: $cyan;
  z-index: 1;
  border: solid 2px #ecf2f5;
  background-color: $white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 36px;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.checkedlabel{
  border: 1px solid #5ebe55;
  //transition: border .1s ease-in-out;
  .btn{
    background-color: $blue-800;
    color: $white;
  }
  &:first-child{
    border-right: 1px solid #5ebe55 !important;
  }
  &:last-child{
    margin-left: -1px !important;
    border-left: 1px solid #5ebe55 !important;
  }
}

//.checkedlabel{
//  .using-ost{
//    &:after{
//      content: 'Using OST';
//      display: inline-block;
//    }
//  }
//}

input[name="staking_currency_symbol"]:checked + div > span{
  &:after{
    content: 'Using';
  }
}

input[name="staking_currency_symbol"]:not(:checked) + div > span{
  &:after{
    content: 'Use';
  }
}