// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

.dashboard{
  .stats-col{
    border-radius: 5px;
    border: solid 1px $telegram-color;
    .title{
      font-size: $display3-size;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .gold{
      color: $yellow-300;
      font-size: $display3-size;
      letter-spacing: 0.4px;
    }
  }
  .card{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08) !important;
  }
  .list-items{
    color: $blue-700;
    display: flex;
    align-items: center;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    border-bottom: 0.5px solid rgba(133,180,202, 0.5);
    &:last-child{
      border-bottom: none;
    }
  }
  .btn{
    min-width: 150px;
  }
  .coming-soon-desc{
    line-height: 2;
  }
  .graph-header{
    border-top: 2px solid #e3eef3;
    border-bottom: 2px solid #e3eef3;
    color: #438bad;
    .partition{
      border-left: 2px solid #e3eef3;
    }
    .interval{
      cursor: pointer;
      &.active{
        color:#e4b030
      }
    }
  }
  .graph-container{
    width:100%;
    height:350px;

  }
}