// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

#tx_by_type {
    .loading-wrapper {
      top: 50% ;
      margin-top: -15px;
    }
}

.dashboard{
  .stats-col{
    border-radius: 5px;
    border: solid 1px $telegram-color;
    .title{
      font-size: $display3-size;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .gold{
      color: $yellow-300;
      font-size: $display3-size;
      letter-spacing: 0.4px;
    }
  }
  .card{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08) !important;
  }
  .list-items{
    color: $blue-700;
    display: flex;
    align-items: center;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    border-bottom: 0.5px solid rgba(133,180,202, 0.5);
    &:last-child{
      border-bottom: none;
    }
  }
  .btn{
    min-width: 150px;
  }
  .coming-soon-desc{
    line-height: 2;
  }
  .graph-header{
    border-top: 2px solid #e3eef3;
    border-bottom: 2px solid #e3eef3;
    color: #438bad;
    .partition{
      border-right: 2px solid #e3eef3;
      border-left: 2px solid #e3eef3;
    }
    .interval{
      cursor: pointer;
      &.active{
        color:#e4b030
      }
    }
    .date-container{
      color:#e4b030;
      font-size: 14px;
    }
  }

  .graph-container{
    width:100%;
    min-height:350px;
    position: relative;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
  }

  .loader{
    background: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif');
    height: 60px;
    width: 60px;
    margin: auto;
    background-size: 60px;
  }

  .no-data{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    padding: 10px;
    background-repeat: no-repeat;

    &.transactions-and-ost-volume-nodata-html-image{
      background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-ost-volume-1.png');

    }
    &.transaction-by-type-nodata-html-image{
      background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-type-1.png');

    }

    &.transaction-by-name-nodata-html-image{
      background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-graph-transactions-by-name-1.png');
    }
  }


  .pie-chart-container{
    background-color: #f9fafa;
    border-radius: 10px;
    .total-transactions{
      position: absolute;
      top: 50%;
      left: 50%;
      color: #438BAD;
      text-align: center;
      transform: translate(-50%, -50%);
    }
    .text-wrap{
      word-wrap: break-word;
    }
    #pieChart{
      min-width: 180px!important;
      svg{
        overflow: visible!important;
      }
    }
  }


  .color-bar{
    width: 5px;
    &.color-bar-red{
      border: 3px solid #ff5f5a;
    }
    &.color-bar-yellow{
      border: 3px solid #f6c62b;
    }
    &.color-bar-blue{
      border: 3px solid #84d1d4;
    }
  }

  .color-box-yellow{
    background-color: #f6c62b;
    height: 15px;
    width : 15px;
  }
  .color-box-red{
    background-color: #ff5f5a;
    height: 15px;
    width : 15px;
  }
  .color-box-blue{
    background-color: #84d1d4;
    height: 15px;
    width : 15px;
  }
  .typeChartLengend{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    color: #597a84;
  }
  .typeChartSubHeading{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: #438BAD;
  }
.info-text{
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  &.transactions-ost-volume{
    top: 63%;
  }
  &.transaction-by-type{
    top:70%;
  }
  &.transaction-by-name{
    top:65%;
  }
}

}