.team-page-height{
  height: calc(100% - 60px);
  overflow-y: scroll;
  .cloud-bg{
    position: absolute;
    bottom: 0;
  }
}

.team-home-icon{
  &:before{
    content: '';
    height: 35px;
    width: 0px;
    margin: 0 12px;
    border-right: 1.5px solid #69a2bd;
  }
}