// Import functions as variables depend on functions
@import "plugins/bootstrap/scss/functions";

// Import theme variables
@import "web/Starboy/variables";

.test-economy-container{
  .shadow-box{
    -webkit-box-shadow: 0 0 12px 1.5px rgba(0, 0, 0, 0.08) ;
    -moz-box-shadow:    0 0 12px 1.5px rgba(0, 0, 0, 0.08) ;
    box-shadow:         0 0 12px 1.5px rgba(0, 0, 0, 0.08) ;
    border-radius: $border-radius-lg;
    width: 700px;
  }
  .solid-background{
    background-color: $alice-blue;
    border-radius: $border-radius-lg;
  }
  .qr-code-section{
    .qr-code{
        width: 300px;
        height: 300px;
    }
  }
  .card{
    border: none;
  }

  .selectize-input{
    border: none;
    padding: 0;
    box-shadow: none;
    &:focus{
      box-shadow: none;
    }
    &:after,
    &:before{
      background: none;
    }
    input{
      font-size: 1rem;
      line-height: 100%!important;
    }
    &.has-items{
      padding: 0!important;
    }
    > div{
      margin: 0 5px 5px 0!important;
      background: #cdd7da!important;
      color: #597a84!important;
      font-size: 16px;
    }
  }

  .selectize-dropdown {
    padding: 0;
    border: none;
    box-shadow: none;
    &.form-control{
      border: none;
    }
    .selectize-dropdown-content {
      .create {
        display: none;
      }
    }
  }
}