// Import functions as variables depend on functions
@import "plugins/bootstrap/scss/functions";

// Import theme variables
@import "web/Starboy/variables";

.test-economy-container{
  .shadow-box{
    -webkit-box-shadow: 0 0 12px 1.5px rgba(0, 0, 0, 0.08) ;
    -moz-box-shadow:    0 0 12px 1.5px rgba(0, 0, 0, 0.08) ;
    box-shadow:         0 0 12px 1.5px rgba(0, 0, 0, 0.08) ;
    border-radius: $border-radius-lg;
    width: 700px;
  }
  .solid-background{
    background-color: $alice-blue;
    border-radius: $border-radius-lg;
  }
  .qr-code-section{
    .qr-code{
        width: 200px;
        height: 200px;
    }
  }
  .card{
    border: none;
  }
}