<%
  sandbox_sub_url_prefix = GlobalConstant::Environment.sandbox_sub_url_prefix
  main_sub_env_url_prefix = GlobalConstant::Environment.main_sub_env_url_prefix
  current_env  = GlobalConstant::Environment.url_prefix
%>
<div class="metamask-confirm-account-container row">
  <div class="text-center col-12 col-md-8 mx-auto">
    <div id="default-state-wrapper" class="confirm-account-section" >
      <h3 class="text-center mt-6">Set Your Account Owner Address</h3>
      <p class="font-weight-light mb-5 text-muted">
        <% if current_env == sandbox_sub_url_prefix%>
          The address displayed below will be set as the Account Owner address. This is the master admin address for this Sandbox OST account. Please make sure to safeguard this address.
        <%end%>
        <% if current_env == main_sub_env_url_prefix%>
          The address displayed below will be set as the Account Owner address. This is the master admin address for this Production OST account. Please make sure to safeguard this address.
        <%end%>
      </p>
<!--      <p class="font-weight-light mb-3 text-muted container-box p-3">-->
<!--        Would you like to use a different address? Simply open the MetaMask Extension and select the desired address.-->
<!--      </p>-->
      <p class="font-weight-light mb-5 text-muted container-box p-3 confirm-address">
        0x
      </p>
      <button class="btn btn-primary btn-confirm">SET OWNER ADDRESS</button>


      <%=
        faqs_data = [
          {
            title: 'What is an Account Owner address?',
            url: 'https://help.ost.com/solution/articles/35000117643-what-is-an-account-owner-address-'
          },
          {
            title: 'Why do I need to install MetaMask?',
            url: 'https://help.ost.com/support/solutions/articles/35000117644-why-do-i-need-to-install-metamask-'
          },
          {
            title: 'Would I need one MetaMask account on both environments?',
            url: 'https://help.ost.com/support/solutions/articles/35000117644-why-do-i-need-to-install-metamask-'
          }
        ]
        render :partial => "shared/web/common/faqs",
               locals: {
                 header: "FAQ",
                 faqs:faqs_data
               }
      %>
    </div>
    <div>
      <div id="associate-address-error-state" class="confirm-account-section mt-6" >
        <svg class="error-icon align-middle" style="width:40px; height:40px">
          <switch>
            <use class="error-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use>
          </switch>
        </svg>
        <h3 class="text-center mt-2 display-header"> The selected address is connected to another account. </h3>
        <p class="font-weight-light mt-5 mb-3 text-muted container-box p-3">
          Please select a new address to continue.
        </p>
        <p class="font-weight-light mb-5 text-muted container-box p-3 confirm-address">
          0x
        </p>

      </div>
    </div>
    <div id="rejected-sign-error-state" class="confirm-account-section mt-6">
      <svg class="error-icon align-middle" style="width:40px; height:40px">
        <switch>
          <use class="error-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use>
        </switch>
      </svg>
      <h3 class="text-center mt-2 display-header"> Could not proceed as you denied message signature in MetaMask. </h3>
      <p class="font-weight-light mt-5 mb-3 text-muted container-box p-3">
        Please sign the message to continue
      </p>
      <p class="font-weight-light mb-5 text-muted container-box p-3 confirm-address">
        0x
      </p>
      <button class="btn btn-primary btn-confirm">confirm address</button>

    </div>
    <div id="deployment-error-state" class="confirm-account-section mt-6">
      <svg class="error-icon align-middle" style="width:40px; height:40px">
        <switch>
          <use class="error-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use>
        </switch>
      </svg>
      <h3 class="text-center mt-2 display-header"> Looks like there was an issue in the setup process</h3>
      <p class="font-weight-light my-5 text-muted ">
        Please try again to proceed.
      </p>
      <a class="btn btn-primary" href="/token/setup"> SET UP  YOUR TOKEN</a>

    </div>
    <div id="general-error-state" class="confirm-account-section mt-6">
      <svg class="error-icon align-middle" style="width:40px; height:40px">
        <switch>
          <use class="error-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use>
        </switch>
      </svg>
      <h3 class="text-center mt-2 display-header"> Something went wrong</h3>
      <p class="font-weight-light mt-5 mb-3 text-muted container-box p-3">
        please try again
      </p>
      <p class="font-weight-light mb-5 text-muted container-box p-3 confirm-address">
        0x
      </p>
      <button class="btn btn-primary btn-confirm">confirm address</button>
    </div>


  </div>


</div>