<%
  cover_img_path = "https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-metamask-wrong-account-image-v2.png";
%>

<div class="row ost__planner">
  <div class="col-12 pt-6">
    <h3 class="text-center font-weight-bold letter-space-1">Looks like the selected MetaMask account is not associated as Primary Address to this account</h3>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-6 ml-auto mr-auto">
    <div class="text-center">
      <p class="font-weight-light mb-5 text-muted">Please open the MetaMask extension and switch to your Primary Address in order to proceed.</p>
      <img src="<%= cover_img_path %>" class="img-fluid" width="357" />
      <%=
        faqs_data = [
          {
            title: 'What is an Account Owner address?',
            url: 'https://help.ost.com/solution/articles/35000117643-what-is-an-account-owner-address-'
          },
          {
            title: 'Why do I need to install MetaMask?',
            url: 'https://help.ost.com/support/solutions/articles/35000117644-why-do-i-need-to-install-metamask-'
          },
          {
            title: 'Would I need one MetaMask account on both environments?',
            url: 'https://help.ost.com/support/solutions/articles/35000117644-why-do-i-need-to-install-metamask-'
          }
        ]
        render :partial => "shared/web/common/faqs",
               locals: {
                 header: "FAQ for installing MetaMask",
                 faqs: faqs_data
               }
      %>
    </div>
  </div>
</div>