<div class="row ost__planner text-center">
  <div class="col-12 pt-6">
      <svg class="error-icon align-middle" style="width:63px; height:63px">
        <switch>
          <use class="error-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use>
        </switch>
      </svg>
      <h3 class="text-center mt-4 display-header"> Looks like you rejected the request.</h3>
      <p class="font-weight-light  mb-5 text-muted">
        To Proceed please connect your account to OST
      </p>
      <div class="row mt-5 ">
          <span class="mx-auto">
            <a class="btn btn-secondary mr-3 " href="<%=GlobalConstant::RoutesMap.getRoutes()[:token_setup] %>"> Go back</a>
            <button class="btn btn-primary" id="mm-reconnect"> Connect Account</button>
          </span>
      </div>
  </div>
</div>
