<%
  # @Shradha: Get new image where the network is blured.
  cover_img_path = "//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-metamask-wrong-account.jpg";
  cover_img_path = "https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-metamask-wrong-account-image-v2.png";

%>

<div class="row ost__planner">
  <div class="col-12 pt-6">
    <h3 class="text-center font-weight-bold letter-space-1">Looks like the selected MetaMask account is not associated as Primary Address to this account</h3>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-6 ml-auto mr-auto">
    <div class="text-center">
      <p class="font-weight-light mb-5 text-muted">Please open the MetaMask extension and switch to your Primary Address in order to proceed.</p>
      <img src="<%= cover_img_path %>" class="img-fluid" width="357" />
      <%=
        faqs_data = [
            {
                title: 'Why do I need to use Chrome and install MetaMask?',
                url: 'https://help.ost.com/support/solutions/articles/35000059263-why-do-i-need-to-install-metamask-'
            },
            {
                title: 'How do I unlock MetaMask?',
                url: 'https://help.ost.com/support/solutions/articles/35000059264-how-do-i-unlock-metamask-'
            },
            {
                title: 'Why can I use only one MetaMask account with OST KITâº?',
                url: 'https://help.ost.com/support/solutions/articles/35000059265-why-can-i-use-only-one-metamask-account-with-ost-kit%E2%8D%BA-'
            }
        ];
        if GlobalConstant::Base.main_sub_environment?
          faqs_data = [
              {
                  title: 'Why do I need to use Chrome and install MetaMask?',
                  url: 'https://docs.google.com/document/d/1_ouDS2NlcGx1bCsCLfM6EOL47mWMxk07VlkYKlqJTf4/edit#bookmark=kix.3gclzzmpuaf7'
              },
              {
                  title: 'How do I unlock MetaMask?',
                  url: 'https://docs.google.com/document/d/1_ouDS2NlcGx1bCsCLfM6EOL47mWMxk07VlkYKlqJTf4/edit#bookmark=id.2b2if3u58hmv'
              },
              {
                  title: 'Why can I use only one MetaMask account with OST KIT?',
                  url: 'https://docs.google.com/document/d/1_ouDS2NlcGx1bCsCLfM6EOL47mWMxk07VlkYKlqJTf4/edit#bookmark=kix.jqxfo8c51r6q'
              }
          ];
        end

        render :partial => "shared/web/common/faqs",
               locals: {
                   header: "FAQ for installing MetaMask",
                   faqs: faqs_data
               }
      %>
    </div>
  </div>
</div>