<div class="row ost__planner">
  <div class="col-12 pt-6">
    <h3 class="text-center letter-space-1">Your MetaMask account is not connected</h3>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-6 ml-auto mr-auto">
    <div class="text-center">
      <p class="font-weight-light mb-4 text-muted">Please open the MetaMask extension and follow the instructions to unlock your wallet.</p>
      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/metamask-account-not-connected.png" class="img-fluid" width="200"/>
      <div class="mt-5">
        <button type="button" class="font-weight-light btn ost-btn-secondary h-100 video-btn" title="Watch Help Video" data-toggle="modal" data-src="https://www.youtube.com/embed/6Gf_kRE4MJU" data-target="#helpVideoModal">
          <svg class="icon-play align-middle">
            <switch>
              <use class="icon-play" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
            </switch>
          </svg>
          watch help video
        </button>
      </div>

      <%=
        faqs_data = [
          {
            title: 'What is an Account Owner address?',
            url: 'https://help.ost.com/solution/articles/35000117643-what-is-an-account-owner-address-'
          },
          {
            title: 'Why do I need to install MetaMask?',
            url: 'https://help.ost.com/support/solutions/articles/35000117644-why-do-i-need-to-install-metamask-'
          },
          {
            title: 'Would I need one MetaMask account on both environments?',
            url: 'https://help.ost.com/support/solutions/articles/35000117644-why-do-i-need-to-install-metamask-'
          }
        ]
        render :partial => "shared/web/common/faqs",
               locals: {
                 header: "FAQ for installing MetaMask",
                 faqs: faqs_data
               }
      %>
    </div>
  </div>
</div>