.switch-mode {
  color: $cyan;
  .sandbox-title{
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 16px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & label{
    margin-bottom: 0px;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $yellow-300;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  &.disabled{
    cursor: default;
    color: $mystic;
    input:checked + .slider{
      background-color: $mystic;
    }
  }
  .switch.disabled{
    pointer-events: none;
  }

  &.checked{
    background-color: $china-ivory;
    color: $yellow-300;
    font-weight: 500;
  }

  &.unchecked{
    background-color: transparent;
    color: #9ec2d3;
  }
}

/* Sandbox Test Data Banner starts */
.test-net-banner{
  background-color: $china-ivory;
  position: fixed;
  top: 60px;
  width: inherit;
  z-index: 1;
  .test-data{
    background-color: $yellow-300;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1px 5px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
/* Sandbox Test Data Banner ends */

.tooltip{
  & .tooltip-inner{
    box-shadow: 0 1px 6px 4px rgba(50, 50, 50, 0.09);
    background-color: $white;
    color: $blue-700;
  }
  & .arrow::before{
    border-right-color: $white;
  }
}

.modal{
  & .modal-content{
    & .modal-body{
      .sub-header{
        color: $blue-700;
        font-weight: $font-weight-light;
      }
    }
  }
}

#whitelist_user_modal, #confirm_mode_change_modal {
  .terms-chk{
    float: left;
    line-height: 20px;
    height: 18px;
    color: $blue-700;
  }
  .label-cbx {
    input[type=checkbox]{
      display: block;
    }
  }
}

.sidebar-nav{
  border: none;
  box-shadow: 1.5px 0 4.5px 0 rgba(0, 0, 0, 0.1)
}
