.side-by-side{
  //h2{
  //  color: #438cad;
  //}
  //p{
  //  color: #597a84;
  //  font-weight: 300;
  //  line-height: 1.6rem;
  //}
  ul{
    li{
      color: #597a84;
      font-weight: 300;
      font-size: 0.9rem;
      padding: 0.5rem 0;
      letter-spacing: 0.4px;
      border-bottom: 1px solid rgba(141, 201, 204, 0.5);
    }
  }
  .midnight-blue{
    background: #35445b;
    h2, p{
      color: #ffffff;
      letter-spacing: 0.2px;
    }
  }
  .denim-blue{
    background: #438BAD;
    h2, p{
      color: #ffffff;
      letter-spacing: 0.2px;
    }
  }
  h2{
    color: #438cad;
    font-weight: 500 !important;
  }
  p{
    color: #597a84;
    font-weight: 300;
    font-size: 0.875rem;
  }
}