.side-by-side{
  .midnight-blue{
    background: #35445b;
    h2, p{
      color: #ffffff;
      letter-spacing: 0.2px;
    }
  }
  .denim-blue{
    background: #438BAD;
    h2, p{
      color: #ffffff;
      letter-spacing: 0.2px;
    }
  }
  h2{
    color: #438cad;
    font-weight: 500 !important;
  }
  p{
    color: #597a84;
    font-weight: 300;
  }
}

.svg-edge{
  width: 100%;
  height: 10vw;
  @media only screen and (min-width: 992px){
    height: 5vw;
  }
}