.container-openst-technology{
  background-color: #ffffff;
  h1{
    color: #438cad;
    letter-spacing: 1.2px;
  }
  p{
    color: #597a84;
    font-weight: 300;
    letter-spacing: 0.4px;
  }
  h5{
    color: #69a2bd;
  }
}
