<div class="container">
  <div class="row ost__planner">
    <div class="col-12">
      <h2 class="text-center mt-6">Use Chrome or Firefox Desktop Browser to Continue</h2>
    </div>
  </div>
  <div class="row ost__planner">
    <div class="col-12 col-md-8 ml-auto mr-auto">
      <div class="text-center">
        <p class="lead font-weight-light mb-5">OST platform requires Google Chrome or Firefox desktop browser and MetaMask.
          See the instructions below to get started."</p>
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/only-chrome-logo.png" width="210" height="55" alt="Only Chrome "/>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-8 mx-auto mt-3">
      <%=

        faqs_data = [
          {
            title: 'Why do I need to use Chrome and install MetaMask?',
            url: 'https://help.ost.com/support/solutions/articles/35000059263-why-do-i-need-to-install-metamask-'
          },
          {
            title: 'How do I unlock MetaMask?',
            url: 'https://help.ost.com/support/solutions/articles/35000059264-how-do-i-unlock-metamask-'
          },
          {
            title: 'Why can I use only one MetaMask account with OST KIT?',
            url: 'https://help.ost.com/support/solutions/articles/35000059265-why-can-i-use-only-one-metamask-account-with-ost-kit%E2%8D%BA-'
          }
        ]
        render :partial => "shared/web/common/faqs",
               locals: {
                 header: "FAQ for installing MetaMask",
                 faqs: faqs_data
               }
      %>
    </div>
  </div>
</div>