<%
  display_stake_currency_symbol = @presenter_obj.display_stake_currency_symbol
%>
<div class="modal fade" id="install-metamask-lightbox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h1 class="heading font-weight-normal">You will need some <%= display_stake_currency_symbol %> to proceed</h1>
        <p class="desc font-weight-light">We will hook you up but you first need a safe place to store them and the perfect place is in a secure wallet like MetaMask.</p>
        <a href="<%= render :partial => "shared/web/economy/metamask/download_metamask_url" %>" target="_blank" class="btn btn-gold font-weight-light" title="Install Metamask">install metamask</a>
      </div>
    </div>
  </div>
</div>