<div class="modal fade" id="sending_ost_grant_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center p-4">
      <div class="modal-header">
          <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="50" height="50" />
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-10 mx-auto text-center border-0 ">
            <div>
              <h3 class="mb-1">Please do not refresh the page</h3>
            </div>
            <div class="desc pr-6 pl-6 font-weight-lighter">
              We are transferring <%= ost_currency_symbol %> to your wallet. This can take a few minutes.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>