<div class="modal fade" id="token_setup_admin_error" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
<!--      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">-->
<!--        <span aria-hidden="true">-->
<!--          <svg class="close-icon">-->
<!--            <switch>-->
<!--              <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#modal-close-icon"></use>-->
<!--            </switch>-->
<!--          </svg>-->
<!--        </span>-->
<!--      </button>-->
      <div class="modal-body py-4 px-6 mx-6">
        <span>
          <svg class="lock-icon align-middle" style="width: 40px; height: 40px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock-icon"></use>
            </switch>
          </svg>
        </span>
        <h3 class="font-weight-bold mt-3">Contact your Super Admin!</h3>
          <h6 class="sub-header mt-3">You currently do not have permissions to complete the Token SetUp.
            Contact your Super Admin to complete the Set Up.</h6>
          <div class="mx-auto mt-5">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
          </div>
      </div>
    </div>
  </div>
</div>