<div class="modal fade" id="whitelist_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
      <div class="modal-body pt-4 px-6 mx-6" style="overflow-x: hidden">

        <div class="default-state" >
          <h3 class="font-weight-bold">Ready to Move to Production?</h3>
          <p class="sub-header mb-2">
            If you are ready to move to Production, please submit a request below.
          </p>
          <p class="sub-header mb-4">
            You can continue to use Sandbox after you have been granted access to Production.
          </p>
          <form id="whitelist_user_form" action="<%= request_whitelist_api %>" method="POST">
            <div class="row">
              <div class="col-12 form-group mb-0">
                <button type="button" data-dismiss="modal" class="btn btn-secondary" title="Cancel">Cancel</button>
                <button type="submit" data-submiting="Sending..." class="btn btn-primary ml-3" title="Submit Request" >Submit Request</button>
                <div class="col-12 mt-2 ml-3 general_error error" data-forid="whitelist_user_form">&nbsp;</div>
              </div>
            </div>
          </form>
        </div>

        <div class="success-state" style="display: none;">
          <h4 class="font-weight-bold">Thank you</h4>
          <p class="sub-header">A member of our Client Success team will be in touch soon to discuss next steps.</p>
          <div class="mx-auto">
            <button type="button" data-dismiss="modal" class="btn btn-primary">CLOSE</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="whitelisted-true-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
      <div class="modal-body pt-4 px-6 mx-6" style="overflow-x: hidden">

        <h4 class="font-weight-bold">Thank you</h4>
        <p class="sub-header">A member of our Client Success team will be in touch soon to discuss next steps.</p>
        <div class="mx-auto">
          <button type="button" data-dismiss="modal" class="btn btn-primary">CLOSE</button>
        </div>

      </div>
    </div>
  </div>
</div>


