<div class="modal fade" id="whitelist_user_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
      <div class="modal-body pt-4 px-6 mx-6" style="overflow-x: hidden">
        <div class="default-state" >
          <h3 class="font-weight-bold">Ready to switch to Production?</h3>
          <p class="sub-header mb-2">
            Please contact your OST Client Success team to plan your move to Production. <br />
            Otherwise, please <a href="https://goo.gl/forms/SpSF6OnWwz3XFbuU2" target="_blank">submit this form</a>.
            <p class="sub-header mt-3 mb-1">In the meantime you can continue to use Sandbox.</p>
          </p>
            <div class="row">
              <div class="col-12 form-group mb-0">
                <button type="button" data-dismiss="modal" class="btn btn-secondary" title="Close">CLOSE</button>
                <div class="col-12 mt-2 ml-3 general_error error" data-forid="whitelist_user_form">&nbsp;</div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>