<div class="col-sm-12 col-md-6 px-md-0 sign-up-left py-6">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <h3 class="form-title text-left mb-5">Welcome to <svg class="signup-ost-kit-logo">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kit-logo"></use>
        </switch>
      </svg> Mainnet Alpha 1</h3>
      <div class="block mb-5">
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/signup-mint-tokens@2x.png" class="float-left mr-3" alt="" width="99" />
        <div>
          <h4 class="font-weight-normal">Mint Branded Tokens</h4>
          <p>
            OST Mainnet Alpha 1 runs on OpenST Protocol 0.9.2 which enables you to mint your own Branded Tokens on OpenST side blockchains, by staking OST on Ethereum Mainnet.
          </p>
        </div>
      </div>
      <hr class="my-4"/>
      <h4 class="form-title text-left mb-3">Important Release Notes</h4>
      <p class="important-notes p-2 m-0">
        This OST KIT instance operates in a Mainnet environment.
      </p>
      <p class="important-notes p-2 m-0">
        MetaMask is required to participate. You will use MetaMask on Ethereum Mainnet to sign for token creation transactions.
      </p>
      <p class="important-notes p-2 m-0">
        You will need to have a minimum of 100 OST in your MetaMask account in order to begin the stake and mint process.
      </p>
      <p class="important-notes p-2 m-0">
        There is no user-facing wallet in this release. You will execute transactions from the company perspective only.
      </p>
      <p class="important-notes p-2 m-0">
        You can use OST Price Oracle, our price oracle, to fix prices in USD for transactions in your community.
      </p>
      <p class="important-notes p-2 m-0">
        You can use OST APIs to create users and execute transactions between them. View developer resources at https://<%= assets_domain %>.
      </p>
      <p class="important-notes p-2 m-0">
        There is no cashing-out or exchanging of Branded Tokens in this release.
      </p>
    </div>
  </div>
</div>
