<%
  invited_receiver  = @presenter_obj.invitee_manager.email
  invite_sender = @presenter_obj.inviter_manager.email
%>
<div class="container-fluid py-6 cloud-bg h-100">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form id="admin_invite_form" class="form-container-sm user-form"
                action="<%= GlobalConstant::RoutesMap.getApis()[:api_sign_up] %>" method="POST"
                data-ost-formhelper
          >

<!--            <h3 class="text-center">Hi, <%#= invited_receiver %> </h3>-->
            <h3 class="text-center">Welcome to OST Platform Sandbox</h3>
            <p class="text-center mb-5 font-weight-light"> <%= invite_sender %> has invited you to join your team on OST Platform Sandbox.  Please set a password to create your account.</p>
            <div class="form-group mb-2" id="emailFormGrp">
              <div class="row">
                <div class="col-6">
                  <label class="form-label" data-forid="email">First Name</label>

                  <input id="first-name" type="text" name="first_Name" class="form-control" title="First Name"
                         aria-describedby="emailHelp" placeholder="First Name" required autofocus/>
                  <div class="invalid-feedback" data-forid="first_Name">&nbsp;</div>
                </div>
                <div class="col-6">
                  <label class="form-label" data-forid="email">Last Name</label>

                  <input id="last-name" type="text" name="last_name" class="form-control" title="Last Name"
                         aria-describedby="emailHelp" placeholder="Last Name" required />
                  <div class="invalid-feedback" data-forid="last_name">&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="clearfix">
                <label class="form-label float-left" for="password">Password</label>
                <span class="form-label float-right text-capitalize font-weight-light">Minimum 8 characters</span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control form-control-input-group" placeholder="Password"
                       id="password" name="password" title="Password" required minlength="8" />
                <div class="input-group-append">
                  <span class="input-group-text input-group-inline input-group-eye">
                    <svg class="icon">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
                      </switch>
                    </svg>
                  </span>
                </div>
                <div class="invalid-feedback" data-forid="password">&nbsp;</div>
              </div>
              <div class="zxcvbn-group"></div>
            </div>
            <div class="form-group mb-2">
              <label class="form-label" for="confirm_password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" title="Confirm password"
                     name="confirm_password" placeholder="Confirm Password" required minlength="8" />
              <div class="invalid-feedback" data-forid="password">&nbsp;</div>
            </div>

            <div class="form-group has-error mb-0" id="tosFormGrp">
              <div class="form-check p-0">
                <input id="tos" class="checkbox-custom form-check-input" name="agreed_terms_of_service"
                       type="checkbox" required
                       data-msg-required="Please indicate that you have read and agreed to the Terms of Service and Privacy Policy."
                />
                <label for="tos" class="checkbox-custom-label form-check-label">
                  <span class="tos-text">By checking this box, you agree to our
                    <a href="https://drive.google.com/file/d/1QTZ7_EYpbo5Cr7sLdqkKbuwZu-tmZHzD/view" target="_blank"
                       class="font-weight-normal">Terms of Service</a>&nbsp;&amp; acknowledge and consent to our
                    <a href="//ost.com/privacy" target="_blank"
                       class="font-weight-normal">Privacy Policy</a>.
                  </span>
                </label>
                <div class="invalid-feedback" data-forid="agreed_terms_of_service">&nbsp;</div>
              </div>

            </div>

            <div class="form-group has-error mb-2" id="marcommFormGrp">
              <div class="form-check p-0">
                <input id="marcomm" class="checkbox-custom form-check-input" name="marcomm"
                       type="checkbox"
                       data-msg-required="Please indicate that you have read and agreed to the Terms of Service and Privacy Policy."
                />
                <label for="marcomm" class="checkbox-custom-label form-check-label">
                  <span class="tos-text">I agree to OST sending me marketing communications, as described in our
                    <a href="//ost.com/privacy" target="_blank"
                       class="font-weight-normal">Privacy Policy</a>.
                  </span>
                </label>
                <div class="invalid-feedback" data-forid="agreed_terms_of_service">&nbsp;</div>
              </div>

            </div>


            <input type="text" class="form-control" id="i_t" name="i_t" value = <%= invite_token %> hidden />

            <div class="form-group text-center mt-3">
              <button type="submit" class="btn btn-gold">Set Password</button>
            </div>

            <div class="general_error invalid-feedback" data-forid="admin_invite_form">&nbsp;</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


