<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <h3 class="mb-2 text-center">Welcome to OST Platform</h3>
        <div class="mb-3 text-center company-info-sub-header">We need some additional information to help you get started</div>
        <form id="company_info_form" class="user-form" action="<%= GlobalConstant::RoutesMap.getApis()[:api_save_company_info] %>" method="POST">
          <div class="form-group" >
            <label class="form-label text-uppercase" data-forid="company_name">COMPANY NAME</label>
            <input id="company_name" type="text"
                   name="company_name" class="form-control" aria-describedby="company_name" required autofocus/>
            <div class="invalid-feedback" data-forid="company_name">&nbsp;</div>
          </div>
          <div class="form-group" >
            <label class="form-label text-uppercase" data-forid="mobile_app_flag_yes">DO YOU HAVE A MOBILE APP?</label>
            <div class="row">
              <div class="col-2">
                <input class="form-check-input radio-button"
                       id="mobile_app_flag_yes" type="radio" name="mobile_app_flag" value="1" checked/>
                <label class="form-check-label radio-button-label" for="mobile_app_flag_yes">
                  <span class="radio-button-circle"></span>Yes</label>
              </div>
              <div class="col-2">
                <input class="form-check-input radio-button"
                       id="mobile_app_flag_no" type="radio" name="mobile_app_flag" value="0"/>
                <label class="form-check-label radio-button-label" for="mobile_app_flag_no">
                  <span class="radio-button-circle"></span>No</label>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <label class="form-label text-uppercase" data-forid="one_m_users_flag_yes">DO YOU HAVE >1 MONTHLY ACTIVE USERS?</label>
            <div class="row">
              <div class="col-2">
                <input class="form-check-input radio-button"
                       id="one_m_users_flag_yes" type="radio" name="one_m_users_flag" value="1" checked/>
                <label class="form-check-label radio-button-label" for="one_m_users_flag_yes">
                  <span class="radio-button-circle"></span>Yes</label>
              </div>
              <div class="col-2">
                <input class="form-check-input radio-button"
                       id="one_m_users_flag_no" type="radio" name="one_m_users_flag" value="0"/>
                <label class="form-check-label radio-button-label" for="one_m_users_flag_no">
                  <span class="radio-button-circle"></span>No</label>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <button id="save_company_info_form" type="submit" data-submiting="Saving..."
                      class="mt-1 btn btn-gold d-inline-block float-left">Save</button>
            </div>
            <div class="col-12 general_error text-left invalid-feedback mt-2">&nbsp;</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>