<div class="container-fluid mt-6">
  <div class="row d-flex align-items-center justify-content-center flex-column h-100">
    <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-oops-wrong-link@2x.png" class="img-fluid w-50 d-block my-6" alt="Invalid Token"/>
    <a href="/login" class="btn btn-primary" title="Lets Get You Home">lets get you home</a>
  </div>
</div>

