<div class="container-fluid m-auto" style="overflow-y: scroll">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form id="login_form" class="user-form"
                action="<%= GlobalConstant::RoutesMap.getApis()[:api_login] %>" method="POST">
            <h3 class="text-center mb-2" style="font-size: 2rem;">Log In
            </h3>
            <% if  GlobalConstant::Environment.skip_recaptcha?(params) %>
              <input name="automation_test_token" type="hidden" id="automation_test_token" value="<%= params['automation_test_token'] %>"/>
            <% end %>
            <div class="general_error invalid-feedback">&nbsp</div>
            <div class="text-center mb-3">
              <p> Please make sure you are visiting: <%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %></p>
              <img class="mx-auto platform-url-img" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-platform-url-image-new.png"/>
            </div>
            <div class="form-group mb-2">
              <label class="form-label" for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" title="Email"
                     aria-describedby="emailHelp" placeholder="Email Address" name="email" required tabindex="1" autofocus/>
              <div class="invalid-feedback" data-forid="email">&nbsp;</div>
            </div>
            <div class="form-group mb-2">
              <label class="form-label float-left" for="exampleInputPassword1">Password</label>
              <span class="form-label float-right text-capitalize font-weight-light"><a class="form-text mt-0" href="/reset-password">Forgot password?</a></span>
              <div class="input-group">
                <input type="password" class="form-control form-control-input-group" placeholder="Password" title="Password"
                       id="password" name="password" required minlength="8" data-msg-minlength="Password needs to be at least 8 characters"  tabindex="2"/>
                <div class="input-group-append">
                  <span class="input-group-text input-group-inline input-group-eye">
                    <svg class="icon">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
                      </switch>
                    </svg>
                  </span>
                </div>
                <div class="invalid-feedback" data-forid="password">&nbsp;</div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="g-recaptcha mx-auto  form-recapcha-wrap d-inline-block" id="myid" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>"></div>
              <div class="recaptcha-submit-error invalid-feedback">&nbsp;</div>
            </div>
            <input type="hidden" name="fingerprint"  id="fingerprintHash"/>
            <input type="hidden" name="fingerprint_type"  id="fingerprintType"/>


            <div class="form-group text-center">
              <button id="login-btn" type="submit" class="btn btn-gold" data-submiting="Logging" tabindex="3">Login</button>
              <small class="form-text text-muted " style="line-height: 40px">Don't have an account yet?</small>
              <a href="/sign-up" class="btn ost-btn-secondary" title="Register">Register</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

