<div class="container-fluid m-auto" style="overflow-y: scroll">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form id="login_form" class="user-form"
                action="<%= GlobalConstant::RoutesMap.getApis()[:api_login] %>" method="POST">
            <h3 class="text-center mb-2">Login to access <svg style="width: 50px;height: 30px;vertical-align: bottom">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-header-logo"></use>
              </switch>
            </svg>
              <%# if GlobalConstant::Base.main_sub_environment? %>
<!--                Mainnet Alpha 1-->
              <%# else %>
<!--                alpha-->
              <%# end %>
            </h3>
            <div class="general_error invalid-feedback">&nbsp</div>
            <div class="form-group mb-2">
              <label class="form-label" for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email"
                     aria-describedby="emailHelp" placeholder="Email Address" name="email" required tabindex="1" autofocus/>
              <div class="invalid-feedback" data-forid="email">&nbps;</div>
            </div>
            <div class="form-group mb-2">
              <label class="form-label float-left" for="exampleInputPassword1">Password</label>
              <span class="form-label float-right text-capitalize font-weight-light"><a class="form-text mt-0" href="/reset-password">Forgot password?</a></span>
              <div class="input-group">
                <input type="password" class="form-control form-control-input-group" placeholder="Password"
                       id="password" name="password" required minlength="8"  tabindex="2"/>
                <div class="input-group-append">
                  <span class="input-group-text input-group-inline input-group-eye">
                    <svg class="icon">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
                      </switch>
                    </svg>
                  </span>
                </div>
                <div class="invalid-feedback" data-forid="password">&nbps;</div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="g-recaptcha mx-auto  form-recapcha-wrap d-inline-block" id="myid" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>"></div>
              <div class="recaptcha-submit-error invalid-feedback">&nbps;</div>
            </div>


            <div class="form-group text-center">
              <button id="login-btn" type="submit" class="btn btn-gold" data-submiting="Logging" tabindex="3">Login</button>
              <small class="form-text text-muted " style="line-height: 40px">Don't have an account yet?</small>
              <a href="/sign-up" class="btn ost-btn-secondary" title="Register">Register</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

