<%
  #TODO var from backend
email_address = "email address requesting reset password"
%>
<div class="container-fluid pt-6" style="overflow-y: scroll">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form id="rest_password_form" class="form-container-sm user-form"
                action="<%= GlobalConstant::RoutesMap.getApis()[:api_send_reset_password_link] %>" method="POST"
          >
            <h3 class="text-center mb-2">Reset Your Password</h3>
            <p class="text-center font-weight-light mb-3">Enter your email address to receive an email with the link to reset your password</p>
            <div class="form-group">
              <label class="form-label" for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" title="Email"
                     aria-describedby="emailHelp" placeholder="Email Address" name="email" required />
              <div class="invalid-feedback" data-forid="email">&nbsp;</div>
            </div>

            <div class="form-group text-center">
              <div class="g-recaptcha mx-auto  form-recapcha-wrap d-inline-block" id="myid" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>"></div>
              <div class="recaptcha-submit-error invalid-feedback">&nbsp;</div>
            </div>

            <div class="form-group text-center">
              <button type="submit" id="recover-email-btn" class="btn btn-gold mb-5" data-submiting="Recovering">Recover</button>
              <br/>
              <a class="btn ost-btn-secondary" href="/login">Return To Login</a>
            </div>
            <div class="general_error invalid-feedback">&nbsp;</div>

          </form>

          <div id="resetEmailSent" class="text-center" style="display:none">
            <svg style="width: 100px">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email-icon"></use>
              </switch>
            </svg>
            <h3>Check Your Inbox</h3>
            <p class="text-muted">We have sent an email to <%= email_address %>. Please click on the Reset Password Button in the email to reset your password.</p>

            <a href="/login" class="btn btn-secondary mt-3">Back to Login</a>
            <div class="success" id="successMessage"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
