<div class="container-fluid m-auto" style="overflow-y: scroll">
  <div class="row">
    <div class="container">
      <div class="row py-6">
        <div class="col-md-6 mx-auto">
          <form id="sign_up_form" class="user-form"
                action="<%=GlobalConstant::RoutesMap.getApis()[:api_sign_up] %>" method="POST">

            <h3 class="text-center pt-2" style="font-size: 2rem;">Register</h3>

            <% if  GlobalConstant::Environment.skip_recaptcha?(params) %>
              <input name="automation_test_token" type="hidden" id="automation_test_token" value="<%= params['automation_test_token'] %>"/>
            <% end %>

<!--            <p class="text-center small mb-0">-->
<!--              Access is currently available to whitelisted accounts. To request access please <a href="https://goo.gl/forms/26zom9yYqZ1IJQbD3" target="_blank">submit this form</a>. If you are on the whitelist please register below.-->
<!--            </p>-->

            <div class="general_error invalid-feedback" data-forid="sign_up_form">&nbsp;</div>

            <div class="form-group mb-1">
              <div class="row">
                <div class="col-6">
                  <label class="form-label" data-forid="first_name">First Name</label>

                  <input id="first-name" maxlength="30" minlength="3" type="text" name="first_name" class="form-control" title="First Name"
                         aria-describedby="emailHelp" placeholder="First Name" required autofocus/>
                  <div class="invalid-feedback" data-forid="first_name">&nbsp;</div>
                </div>
                <div class="col-6">
                  <label class="form-label" data-forid="last_name">Last Name</label>

                  <input id="last-name" maxlength="30" minlength="3" type="text" name="last_name" class="form-control" title="Last Name"
                         aria-describedby="emailHelp" placeholder="Last Name" required />
                  <div class="invalid-feedback" data-forid="last_name">&nbsp;</div>
                </div>
              </div>
            </div>

            <div class="form-group mb-2" id="emailFormGrp">
              <label class="form-label" data-forid="email">Email address</label>

              <input id="user-email" type="email" name="email" class="form-control" title="Email"
                     aria-describedby="emailHelp" placeholder="Enter email" required/>
              <div class="invalid-feedback" data-forid="email">&nbsp;</div>
            </div>

            <div class="form-group mb-0">
              <div class="clearfix">
                <label class="form-label float-left" for="password">Password</label>
                <span class="form-label float-right text-capitalize font-weight-light" style="color: #6c9ba9">Min 8 characters</span>
              </div>
              <div class="input-group mb-2">
                <input type="password" class="form-control form-control-input-group" placeholder="Password"
                       title="Password" id="password" name="password" required minlength="8"
                       data-msg-minlength="Password needs to be at least 8 characters"  />
                <div class="input-group-append">
                <span class="input-group-text input-group-inline input-group-eye">
                  <svg class="icon">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
                    </switch>
                  </svg>
                </span>
                </div>
                <div class="invalid-feedback" data-forid="password">&nbsp;</div>
              </div>
              <!-- ZXCVBN Wrap -->
              <div class="zxcvbn-group mb-3"></div>
            </div>

            <div class="form-group has-error mb-0" id="tosFormGrp">
              <div class="form-check p-0">
                <input id="tos" class="checkbox-custom form-check-input" name="agreed_terms_of_service"
                       type="checkbox" required
                       data-msg-required="Please indicate that you have read and agreed to the Terms of Service and Privacy Policy."
                />
                <label for="tos" class="checkbox-custom-label form-check-label">
                  <span class="tos-text">By checking this box, you agree to our
                    <a href="https://drive.google.com/file/d/1QTZ7_EYpbo5Cr7sLdqkKbuwZu-tmZHzD/view" target="_blank"
                       class="font-weight-normal">Terms of Service</a>&nbsp;&amp; acknowledge and consent to our
                    <a href="//ost.com/privacy" target="_blank"
                       class="font-weight-normal">Privacy Policy</a>.
                  </span>
                </label>
                <div class="invalid-feedback" data-forid="agreed_terms_of_service">&nbsp;</div>
              </div>

            </div>

            <div class="form-group has-error mb-2" id="marcommFormGrp">
              <div class="form-check p-0">
                <input id="marcomm" class="checkbox-custom form-check-input" name="marcomm"
                       type="checkbox"
                       data-msg-required="Please indicate that you have read and agreed to the Terms of Service and Privacy Policy."
                  />
                <label for="marcomm" class="checkbox-custom-label form-check-label">
                  <span class="tos-text">I agree to OST sending me marketing communications, as described in our
                    <a href="//ost.com/privacy" target="_blank"
                       class="font-weight-normal">Privacy Policy</a>.
                  </span>
                </label>
                <div class="invalid-feedback" data-forid="agreed_terms_of_service">&nbsp;</div>
              </div>

            </div>

            <div class="form-group text-center mb-1">
              <div class="g-recaptcha mx-auto  form-recapcha-wrap d-inline-block" id="myid" data-sitekey="<%= GlobalConstant::Base.recaptcha['site_key'] %>"></div>
              <div class="recaptcha-submit-error invalid-feedback">&nbsp;</div>
            </div>
            <input name="fingerprint" type="hidden" id="fingerprintHash"/>
            <input name="fingerprint_type" type="hidden" id="fingerprintType"/>

            <div class="form-group text-center" >
              <button type="submit" id="register-btn"  class="btn btn-gold" data-submiting="Registering">Register</button>
              <small class="form-text text-muted" style="line-height: 30px">Have an account already?</small>
              <a href="/login" class="btn ost-btn-secondary mb-6" title="Login">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

