<% if @error_data.present? %>

  <h2 class="form-title"><%= @error_data[:display_heading] %></h2>
  <div class="general_error invalid-feedback"><%= @error_data[:display_text] %></div>

<% else %>

  <% reset_token = params[:r_t].present? ? params[:r_t] : "" %>

  <div class="container-fluid py-6 cloud-bg h-100" style="overflow-y: scroll">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mx-auto">
            <form id="update_password_form" class="form-container-sm user-form"
                  action="<%= GlobalConstant::RoutesMap.getApis()[:api_reset_password] %>" method="POST"
                  data-ost-formhelper data-redirect="/planner" style="display: block"
            >
              <h3 class="text-center mb-5">Update Your Password</h3>
              <div class="form-group mb-2">
                <div class="clearfix">
                  <label class="form-label float-left" for="password">Password</label>
                  <span class="form-label float-right text-capitalize font-weight-light">Minimum 8 characters</span>
                </div>
                <div class="input-group">
                  <input type="password" class="form-control form-control-input-group" placeholder="Password"
                         id="password" name="password" required minlength="8" />
                  <div class="input-group-append">
                  <span class="input-group-text input-group-inline input-group-eye">
                    <svg class="icon">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
                      </switch>
                    </svg>
                  </span>
                  </div>
                  <div class="invalid-feedback" data-forid="password">&nbsp;</div>
                </div>
                <div class="zxcvbn-group"></div>
              </div>

              <div class="form-group mb-2">
                <label class="form-label" for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required minlength="8" />
                <div class="invalid-feedback" data-forid="password">&nbsp;</div>
              </div>

              <div class="form-group text-center mt-3">
                <button type="submit" class="btn btn-gold"  data-submiting="Updating..">Update Password</button>
              </div>
              <input type="hidden" name="r_t" value="<%= reset_token %>" />
              
              <div class="general_error invalid-feedback" data-forid="update_password_form">&nbsp;</div>
            </form>
          </div>

          <div class="col-12 mx-auto">
            <div id="password-updated-container" class="text-center" style="display:none">
              <h3>Your Password was Updated Successfully</h3>
              <p class="text-muted">You can now login to your account</p>
              <a href="/login" class="btn btn-gold mt-3" title="Login">login</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
