<%
  login_url = "/login"
%>
<div class="text-center pt-6 col-md-10 col-lg-8 col-xl-6 mx-auto">
  <svg class="success-icon" style="width: 50px; height: 50px">
    <switch>
      <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
    </switch>
  </svg>
  <h1>Thank You!</h1>
  <h3 class="my-3">
    The device/browser you tried to log in from is now authorized.
    please go back to this device/browser and log in.
  </h3>

</div>