<div class="container-fluid mt-6">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <h3 class="mb-4 text-center company-info-header">Help Us Optimize Your Experience</h3>
        <form
          id="company_info_form"
          class="user-form"
          action="<%= GlobalConstant::RoutesMap.getApis()[:api_save_company_info] %>"
          method="POST"
          data-ost-formhelper
        >
          <div class="form-group mb-0" >
            <label class="form-label text-uppercase" data-forid="company_name">COMPANY NAME</label>
            <input id="company_name" maxlength="30" minlength="3" type="text" data-msg-pattern="Invalid company name."
                   pattern='^[a-zA-Z0-9&£@$€¥.,:;«»&#34;&#39;\/\-\(\)\[\]\{\}\!\?\s]{3,30}$'
                   name="company_name" class="form-control" aria-describedby="company_name" required autofocus/>
            <div class="invalid-feedback" data-forid="company_name">&nbsp;</div>
          </div>
          <div class="form-group" >
            <label class="form-label text-uppercase mb-0" data-forid="mobile_app_flag_yes">DO YOU HAVE A iOS OR ANDROID MOBILE APP?</label>
            <div class="row">
              <div class="col-2">
                <input class="form-check-input radio-button"
                       id="mobile_app_flag_yes" type="radio" name="mobile_app_flag" value="1" checked/>
                <label class="form-check-label radio-button-label" for="mobile_app_flag_yes">
                  <span class="radio-button-circle"></span>Yes</label>
              </div>
              <div class="col-2">
                <input class="form-check-input radio-button"
                       id="mobile_app_flag_no" type="radio" name="mobile_app_flag" value="0"/>
                <label class="form-check-label radio-button-label" for="mobile_app_flag_no">
                  <span class="radio-button-circle"></span>No</label>
              </div>
            </div>
          </div>
          <div class="form-group" >
            <label class="form-label text-uppercase mb-0" data-forid="one_m_users_flag_yes">HOW MANY MONTHLY ACTIVE USERS DO YOU HAVE?</label>
            <div class="row">
              <div class="col-4 pr-0">
                <input class="form-check-input radio-button"
                       id="one_m_users_flag_yes" type="radio" name="one_m_users_flag" value="0" checked/>
                <label class="form-check-label radio-button-label" for="one_m_users_flag_yes">
                  <span class="radio-button-circle"></span>Less than 1 Million</label>
              </div>
              <div class="col-4 pr-0">
                <input class="form-check-input radio-button"
                       id="one_m_users_flag_no" type="radio" name="one_m_users_flag" value="1"/>
                <label class="form-check-label radio-button-label" for="one_m_users_flag_no">
                  <span class="radio-button-circle"></span>More than 1 Million</label>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <button id="save_company_info_form" type="submit" data-submiting="Saving..."
                      class="btn btn-primary">Continue</button>
            </div>
            <div class="col-12 general_error text-left invalid-feedback mt-2">&nbsp;</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>