<% content_for :cover_elements do %>
  <div id="invite_new_member" class="cover-element metamask-flow">
    <div class="container">
      <%= render :partial => "/web/user_setting/team/invite_new_member" %>
    </div>
  </div>
<% end %>
<%= render :partial => "/web/user_setting/team/team_list" %>