<div class="col-12 text-left form-group mb-0">
  <label class="form-label">Selected Address</label>
</div>
<div class="col-6">

  <%= render :partial => "/shared/web/common/mocker",
             :locals => {
                 :mock_selector => selector,
                 :mock_type => "address"
             }
  %>
  <div class="form-group">
    <input name="<%= name %>" class="d-none" /> <!--No id please-->
    <div class="invalid-feedback">&nbsp;</div>
  </div>
</div>