<% is_metamask_whitelisted_browser = browser_supported_by_metamask? %>

<div class="token-setup-options-conatiner mt-5">
  <div class="shadow-box d-flex flex-row align-items-center mx-5">
    <div class="m-2">
      <svg width="152" height="160">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#deploy-token-setup-options"></use>
        </switch>
      </svg>
    </div>
    <div class="mx-2 mr-4">
      <h4>We will start deploying your token soon</h4>
      <p class="font-weight-light">
        Token Symbol :
        <span class="ost-mocker-value" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
        <span class="standing-line"> | </span> Conversion Rate :
        <span class="conversion-rate font-weight-bold">1</span>
        <span class="conversion-rate-unit font-weight-bold">OST</span>
        =
        <span class="ost-mocker-value conversion-rate font-weight-bold" data-ost-mock-element="#ost_to_bt_id">1</span>
        <span class="ost-mocker-value conversion-rate-unit font-weight-bold" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
        =
        <span class="conversion-rate j-fiat-value font-weight-bold">$</span>
        <span class="conversion-rate-unit font-weight-bold">USD</span>

        To complete the setup please select from the below options.
      </p>
    </div>
  </div>
  <div class="shadow-box mx-5 mt-5 position-relative">
    <div class="position-absolute OR-section-seperator">
      <p class="m-2">OR</p>
    </div>
    <div class="d-flex flex-row mt-2 align-items-center">
      <div class="m-4">
        <svg width="106" height="106">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-logo-token-setup-options"></use>
          </switch>
        </svg>
        <p class="text-center mt-2 font-weight-bold small token-setup-option-ost">OST</p>
      </div>
      <div class="mx-4">
        <p class="font-weight-light">The quickest way to test OST platform functionality in sandbox is to continue without setting up a wallet to hold OST-Test tokens.</p>
      </div>
      <div class="mx-4">
        <button id="jTokenSetupOstBtn" class="btn btn-primary">Get Started</button>
      </div>
    </div>
    <div class="d-flex flex-row pt-2 align-items-center section-seperator">
      <div class="m-4">
        <svg width="105" height="96">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#metamask-logo-token-setup-options"></use>
          </switch>
        </svg>
        <p class="text-center mt-2 font-weight-bold small token-setup-option-metamask">METAMASK</p>
      </div>
      <div class="mx-4">
        <p class="font-weight-light">
          <% if is_metamask_whitelisted_browser %>
            Metamask provides a secure wallet to hold your OST-Test tokens. You can choose to install Metamask and continue.
          <% else %>
            Metamask provides a secure wallet to hold your OST-Test tokens. Your current browser does not support metamask. Please swtich to <a class="browser-link" href="#">Google chrome</a> or <a class="browser-link" href="#">Firefox</a> to continue</p>
          <% end %>
      </div>


        <div class="mx-4">
          <button id="jTokenSetupMetamaskBtn"
                  class="btn btn-primary <%= is_metamask_whitelisted_browser ? "" : "disabled-install-metamask" %>" >
            Use Metamask
          </button>
          <% if !is_metamask_whitelisted_browser %>
            <small class="metamask-info-text font-weight-light text-muted mx-auto" >Available on chrome and Firefox</small>
          <%end%>
        </div>
    </div>
  </div>

</div>