<% is_metamask_whitelisted_browser = browser_supported_by_metamask? %>

<div class="token-setup-options-conatiner mt-6">
  <div class="shadow-box mx-5 px-5 py-4">
    <h4>Company Wallet Options</h4>
    <p class="font-weight-light mb-2">Select in which way you prefer to set up the Company Wallet in sandbox from the options below in order to complete the setup.</p>
    <p class="font-weight-normal mb-0">
      Token Identifier :
      <span class="ost-mocker-value" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
      <span class="standing-line"> | </span> Conversion Rate :
      <span class="conversion-rate font-weight-bold">1</span>
      <span class="conversion-rate-unit font-weight-bold stake-currency-symbol"><%= stake_currency_symbol %></span>
      =
      <span class="ost-mocker-value conversion-rate font-weight-bold" data-ost-mock-element="#sc_to_bt_id">1</span>
      <span class="ost-mocker-value conversion-rate-unit font-weight-bold" data-ost-mock-element="#symbol" data-ost-mock-parser="ost.utilities.mockerTokenName">BT</span>
      =
      <span class="conversion-rate j-fiat-value font-weight-bold"><%= fiat_currency_symbol['USD'] %></span>
      <span class="conversion-rate-unit font-weight-bold">USD</span>
    </p>
  </div>
  <div class="shadow-box m-5">
    <div class="d-flex p-4 position-relative">
      <div class="row align-items-center">
        <div class="col-2 text-center">
          <svg width="60" height="60">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-logo-token-setup-options"></use>
            </switch>
          </svg>
          <p class="text-center small token-setup-option-ost mb-0">OST</p>
        </div>
        <div class="col-6 pl-0">
          <p class="font-weight-light mb-0">Have OST manage the Company Wallet for you. To expedite testing on sandbox, we will hold the test tokens for you during this phase.</p>
        </div>
        <div class="col-4 text-center">
          <button id="jTokenSetupOstBtn" class="btn btn-primary">Proceed</button>
        </div>
      </div>
      <div class="position-absolute OR-section-seperator">
        <p class="m-2">OR</p>
      </div>
    </div>
    <div class="d-flex p-4 section-seperator">
      <div class="row align-items-center">
        <div class="col-2 text-center">
          <svg width="60" height="60">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#metamask-logo-token-setup-options"></use>
            </switch>
          </svg>
          <p class="text-center small token-setup-option-metamask mb-0">METAMASK</p>
        </div>
        <div class="col-6 pl-0">
          <p class="font-weight-light mb-0">
            <% if is_metamask_whitelisted_browser %>
              Hold the ownership keys of the Company Wallet via Metamask or Hardware wallet. This will be required when going live in Production.
            <% else %>
              Hold the ownership keys of the Company Wallet via Metamask or Hardware wallet. This will be required when going live in Production. Your current browser does not support metamask.
              Please switch to <a class="browser-link" href="https://www.google.com/chrome/" target="_blank">Google chrome</a> or
              <a class="browser-link" href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a>
            <% end %>
          </p>
        </div>
        <div class="col-4 text-center">
          <button id="jTokenSetupMetamaskBtn"
                  class="btn btn-primary <%= is_metamask_whitelisted_browser ? "" : "disabled-install-metamask" %>" >
            Use Metamask
          </button>
          <% if !is_metamask_whitelisted_browser %>
            <div>
              <small class="metamask-info-text font-weight-light text-muted mx-auto" >Available on chrome and Firefox</small>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>