<%
  bt_symbol = @presenter_obj.client_token_symbol;
%>

<div class="container jMintSections" id="jTokenStakeAndMintSignSection" style="display: none">
  <div class="row">
    <div class="col-10 mx-auto text-center">

      <div class="jMetamaskHeaderWrapper jSignHeader" >
        <h3 class="col-8 mx-auto mt-6 metamask-confirmation-header">Minting requires two signatures</h3>
        <div class="text-muted font-weight-light  metamask-confirmation-desc mb-5">Please open MetaMask and confirm the two transactions in order to proceed</div>
      </div>

      <div class="jMetamaskClientRejectErrorWrapper jSignHeader" style="display: none;">
        <h3 class="col-8 mx-auto mt-6 metamask-confirmation-header">You have rejected the MetaMask request, please retry to continue.</h3>
      </div>


      <div class="row">
        <div class="col-10 mx-auto text-left rounded border-0">
          <div class="alert alert-secondary jAllowStakeAndMintWrapper jMintMsgWrapper align-items-center d-flex" role="alert">

            <span class="pre-state-icon state-icon">
              <svg style="width: 30px;height: 30px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#processing-icon"></use>
                </switch>
              </svg>
            </span>
            <span class="processing-state-icon state-icon" style="display: none;">
               <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25">
            </span>
            <span class="success-state-icon state-icon" style="display: none;">
              <svg style="width: 30px;height: 30px">
                <switch>
                  <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
                </switch>
              </svg>
            </span>
            <span class="error-state-icon state-icon" style="display: none;">
               <svg class="svg icon-checkmark" style="width: 30px;height: 30px">
                 <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
                 </switch>
               </svg>
            </span>

            <span class="ml-3 align-middle text-muted font-weight-light">
              Approve staking
              <span data-type="ost"  data-ost-mock-parser="ost.tokenMint.ostToStakeOnBtChange"
                                            data-ost-mock-element="<%=bt_to_mint_selector%>"></span>
              <%= ost_currency_symbol %> to Mint
              <span data-type="bt" data-ost-mock-element="<%=bt_to_mint_selector%>"></span> <%= bt_symbol %> Tokens
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-10 mx-auto text-left rounded border-0">
          <div class="alert alert-secondary jMintMsgWrapper jAutorizeStakeAndMintWrapper align-items-center d-flex" role="alert">
            <span class="pre-state-icon state-icon" >
              <svg style="width: 30px;height: 30px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#processing-icon"></use>
                </switch>
              </svg>
            </span>
            <span class="processing-state-icon state-icon" style="display: none;">
               <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25">
            </span>
            <span class="success-state-icon state-icon" style="display: none;">
             <svg style="width: 30px;height: 30px">
                <switch>
                  <use class="success-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#success-icon"></use>
                </switch>
              </svg>
            </span>
            <span class="error-state-icon state-icon" style="display: none;">
              <svg class="svg icon-checkmark" style="width: 30px;height: 30px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
                </switch>
              </svg>
            </span>
            <span class="ml-3 align-middle text-muted font-weight-light">Approve running the staking process.</span>
          </div>
        </div>
      </div>

      <div class="row mt-5 jSignClientErrorBtnWrap" style="display: none">
        <span class="mx-auto">
          <button class="btn btn-secondary mr-3 jGoBackBtn"> Go back</button>
          <button class="btn btn-primary jClientRetryBtn"> Retry</button>
        </span>
      </div>

      <!--<div class="row mt-4">-->
        <!--<div class="invalid-feedback general_error"></div>-->
      <!--</div>-->

    </div>
  </div>
</div>



<div class="container jMintSections" id="jStakeAndMintSignServerError" style="display: none">

  <div class="row">
    <div class="col-10 mx-auto text-center">

      <div class="row">

        <svg class="svg icon-checkmark mt-4 mx-auto" style="width: 40px;height: 40px">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use>
          </switch>
        </svg>

        <div  >
          <h3 class="col-8 mx-auto mt-4 metamask-confirmation-header">
            There was a issue while updating your transactions details.
          </h3>
          <div class="text-muted font-weight-light metamask-confirmation-desc mb-5">
            Your transactions are processed via metamask, but somehow havn’t reached OST Platform.
            You can retry or <a href="https://help.ost.com/support/home" target="_blank">contact support</a>  with the transaction hashes displayed below.
          </div>
        </div>

        <div class="col-10 mx-auto text-left rounded border-0">
          <div class="alert alert-secondary align-items-center d-flex" role="alert">

          <span class="ml-3 align-middle text-muted font-weight-light jApproveTransactionHash">
          </span>
          </div>
        </div>

        <div class="col-10 mx-auto text-left rounded border-0">
          <div class="alert alert-secondary align-items-center d-flex" role="alert">

          <span class="ml-3 align-middle text-muted font-weight-light jRequestStakeTransactionHash">
          </span>
          </div>
        </div>

        <div class="mt-5 mx-auto">
        <span>
          Please
          <a href="https://help.ost.com/support/home" target="_blank" class="btn btn-primary">
            contact support
          </a>
        </span>
        </div>


      </div>

    </div>
  </div>



</div>